:root {
--0-14-start: oklch(0.33 0.12 250);
--0-14: oklch(0.5 0.12 250);
--0-14-end: oklch(0.77 0.12 250);

--15-24-start: oklch(0.33 0.15 25);
--15-24: oklch(0.5 0.15 25);
--15-24-end: oklch(0.77 0.15 25);

--25-34-start: oklch(0.33 0.14 305);
--25-34: oklch(0.5 0.14 305);
--25-34-end: oklch(0.77 0.14 305);

--35-44-start: oklch(0.33 0.14 65);
--35-44: oklch(0.5 0.14 65);
--35-44-end: oklch(0.77 0.14 65);

--45-54-start: oklch(0.33 0.11 205);
--45-54: oklch(0.5 0.11 205);
--45-54-end: oklch(0.77 0.11 205);

--55-64-start: oklch(0.33 0.09 340);
--55-64: oklch(0.5 0.09 340);
--55-64-end: oklch(0.77 0.09 340);

--65-start: oklch(0.33 0.1 170);
--65: oklch(0.5 0.1 170);
--65-end: oklch(0.77 0.1 170);
}




/*
.age-tag[data-value="0-14"],
.age-tag[data-value="15-24"],
.age-tag[data-value="25-34"],
.age-tag[data-value="35-44"],
.age-tag[data-value="45-54"],
.age-tag[data-value="55-64"],
.age-tag[data-value="65+"] {
  border-color: transparent;
  color: #000;
}
.age-tag[data-value="0-14"] {
  background: linear-gradient(
    0deg,
    var(--0-14-start) 0%,
    var(--0-14) 5%,
    var(--0-14) 95%,
    var(--0-14-end) 100%
  );
}
.age-tag[data-value="15-24"] {
  background: linear-gradient(
    0deg,
    var(--15-24-start) 0%,
    var(--15-24) 5%,
    var(--15-24) 95%,
    var(--15-24-end) 100%
  );
}
.age-tag[data-value="25-34"] {
  background: linear-gradient(
    0deg,
    var(--25-34-start) 0%,
    var(--25-34) 5%,
    var(--25-34) 95%,
    var(--25-34-end) 100%
  );
}
.age-tag[data-value="35-44"] {
  background: linear-gradient(
    0deg,
    var(--35-44-start) 0%,
    var(--35-44) 5%,
    var(--35-44) 95%,
    var(--35-44-end) 100%
  );
}
.age-tag[data-value="45-54"] {
  background: linear-gradient(
    0deg,
    var(--45-54-start) 0%,
    var(--45-54) 5%,
    var(--45-54) 95%,
    var(--45-54-end) 100%
  );
}
.age-tag[data-value="55-64"] {
  background: linear-gradient(
    0deg,
    var(--55-64-start) 0%,
    var(--55-64) 5%,
    var(--55-64) 95%,
    var(--55-64-end) 100%
  );
}
.age-tag[data-value="65+"] {
  background: linear-gradient(
    0deg,
    var(--65-start) 0%,
    var(--65) 5%,
    var(--65) 95%,
    var(--65-end) 100%
  );
}
*/
.age {
  .bar-list {
    button {
      &:nth-child(1) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--0-14-start) 0%,
            var(--0-14) 50%,
            var(--0-14-end) 100%
          );
        }
      }

      &:nth-child(2) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--15-24-start) 0%,
            var(--15-24) 50%,
            var(--15-24-end) 100%
          );
        }
      }

      &:nth-child(3) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--25-34-start) 0%,
            var(--25-34) 50%,
            var(--25-34-end) 100%
          );
        }
      }

      &:nth-child(4) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--35-44-start) 0%,
            var(--35-44) 50%,
            var(--35-44-end) 100%
          );
        }
      }

      &:nth-child(5) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--45-54-start) 0%,
            var(--45-54) 50%,
            var(--45-54-end) 100%
          );
        }
      }

      &:nth-child(6) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--55-64-start) 0%,
            var(--55-64) 50%,
            var(--55-64-end) 100%
          );
        }
      }

      &:nth-child(7) {
        .bar-fill {
          background: linear-gradient(
            90deg,
            var(--65-start) 0%,
            var(--65) 50%,
            var(--65-end) 100%
          );
        }
      }
    }
  }
}